<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Site</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
<nav class="navbar has-background-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item has-text-primary" href="/">
          <strong>Blog Site</strong></a>
        </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
           {{#if loggedIn}}
        <a class="button is-primary" href="/dashboard">Dashboard</a>
        <a class="button is-light" id="logout">Logout</a>
        {{else}}
        <a class="button is-primary" href="/login">Login</a>
        {{/if}}
        </div>
      </div>
    </div>
  </div>
</nav>
    </header>
    <main class="has-background-light">
      {{{ body }}}
    </main>
    <footer class="footer has-background-dark has-text-primary">
  <div class="content has-text-centered">
    <p>
      <strong class="has-text-primary-light">Blog Site</strong> by <a href="https://github.com/kfreeborg" target="_blank">Kelsey Freeborg</a>. Thanks for checking it out!
    </p>
  </div>
</footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>