{{> post-info post}}

{{#if loggedIn}}

<form class="comment-form mx-3 my-3">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
<div><a class="button mx-3 my-3" href="/dashboard"> &larr; Back to dashboard</a></div>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}